body {
 text-align: center;
  background-color: wheat;
  font-size: 15px;
  text-decoration: none;
     color: purple;
}
div {
    text-align: center;
    font-family: Verdana;
    font-size: 130px;
    color: purple;
}